<div class="fitness">
  <h1 class="display-1">Fitness</h1>

  <v-tabs id="mobile-tabs-4" grow icons>
    <v-tab-item href="#tab-1" slot="activators">
      History
      <v-icon>history</v-icon>
    </v-tab-item>
    <v-tab-content id="tab-1" slot="content">
      <v-card v-if="!loading">
        <v-expansion-panel>
          <v-expansion-panel-content v-for="fetch in fetched" :key="fetch._id">
            <div slot="header">
              {{filterDate(fetch.date)}}
              -
              ({{fetch.items[2].price}})
            </div>
            <v-card-text class="white">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in fetch.items">
                    <td>{{item.title}}</td>
                    <td>{{item.price}}</td>
                  </tr>
                </tbody>
              </table>
            </v-card-text>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-card>
      <v-card v-if="loading" class="text-xs-center py-5 custom-loader">
        <v-icon x-large>cached</v-icon>
      </v-card>
    </v-tab-content>
  </v-tabs>
</div>
